/* Formatação do Corpo da Página */
body {
    background: rgb(243, 13, 243);
    width: 360px;
    height: 750px;
    margin: 0%;
}

/* Formatação da Sessão da Página (Externa)*/
section {
    background: black;
    margin-top: 2%;
    margin-left:2%;
    padding: 4%;
    width: 96%;
    height: 100%;
    color: blueviolet;
    font-size: auto;
}

/* Formatação da Lista */
li {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 3.5px;
    margin-right: 2px;
    padding: 6px;
}

/* Formatação de Itens (Menu) */
.pItem {
    color: white;
    text-decoration: none;
}

/* Formatação da Ficha (Título) */
h1 {
    text-align: center;
    text-shadow: 0.4px 0.4px 0.4px white;
}

/* Formatação das Alterações (Hover)*/
#pHome:hover {
    background: rgba(255, 255, 255, 0.5);
    color: black;
    text-decoration: underline;
}
#pSobre:hover {
    background: rgba(255, 255, 255, 0.5);
    color: black;
    text-decoration: underline;
}
#pGit:hover {
    background: rgba(255, 255, 255, 0.5);
    color: black;
    text-decoration: underline;
}

/* Formatação da Área de Texto */
textarea {
  width: 240px;
  height: 100px;
}

/* Formatação dos Input's */
input {
    background: blue;
    color: white;
    margin-bottom: 5px;
}

/* Formatação do Ícone do Menu */
#barras {
    width: 18px;
    height: 18px;
    margin-left: 5%;
    margin: 2%;
    background-image: url("icone.png");
}
#barras:hover li {
   display: inline-block;
}

footer {
  margin-top: 10px;
  text-align: center;
}

/* Incompleto */
@media screen (max-width: 1000px) {
    body {
        background: rgb(243, 13, 243);
        width: 360px;
        height: 750px;
        margin: 0%;
    };
};